<!DOCTYPE html>
<html>
  <head>
    <title>Quick</title>

    <style>
    body {
      margin: 10px auto;
      width: 800px;
    }
    </style>
  </head>
  <body>
    <h1>Quick</h1>

    <% if env['warden'].user %>
      <p> Welcome <%= env['warden'].user['username'] %> | <a href="/protected">Settings</a> | <a href="/auth/signout">Sign Out</a></p>

    <% else %>
      <h3>Please Signin</h3>
      <form action="/auth/signin" method="post">
	<p>Username: <input type="text" name="user[username]" /></p>
	<p>Password: <input type="password" name="user[password]" /></p>
	<input type="submit" value="Signin" />
      </form>


      <h3>New user? Please Signup!</h3>
      <form action="/auth/signup" method="post">
	<p>Username: <input type="text" name="user[username]" /></p>
	<p>Password: <input type="password" name="user[password]" /></p>
	<input type="submit" value="Signup" />
      </form>

    <% end %>


    <% if flash.success %>
      <div style="color:green;">
	<%= flash.success %>
      </div>
    <% end %>

    <% if flash.error %>
      <div style="color:red;">
	<%= flash.error %>
      </div>
    <% end %>

      <%= yield %>
  </body>
</html>
